{% extends 'main/base.html' %}

{% block title %}Dev tools{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Dev tools</h1>

<h2 class="govuk-heading-m">Change user</h2>

<form action="{% url 'dev_tools:change-user' %}" method="post" id="change_user">
    {% csrf_token %}
    {% include 'main/partials/forms/form.html' with form=change_user_form %}
    <button class="govuk-button" name="submit">Submit</button>
</form>

<h2 class="govuk-heading-m">Create test resourcing request</h2>

<form action="{% url 'dev_tools:create-test-resourcing-request' %}" method="post">
    {% csrf_token %}
    {% include 'main/partials/forms/form.html' with form=create_test_resourcing_request_form %}
    <button class="govuk-button">Submit</button>
</form>

<a class="govuk-link" href="{% url 'healthcheck:index' %}">healthcheck</a>

{% endblock %}
