asgiref==3.4.1; python_version >= "3.6"
attrs==21.2.0; python_full_version >= "3.6.7" and python_version >= "3.6"
autobahn==21.3.1; python_version >= "3.7"
automat==20.2.0; python_full_version >= "3.6.7" and python_version >= "3.6"
cffi==1.14.6; python_version >= "3.7"
constantly==15.1.0; python_full_version >= "3.6.7" and python_version >= "3.6"
cryptography==35.0.0; python_full_version >= "3.6.7" and python_version >= "3.7"
daphne==3.0.2; python_version >= "3.6"
dj-database-url==0.5.0
django-environ==0.7.0; python_version >= "3.4" and python_version < "4"
django==3.2.7; python_version >= "3.6"
hyperlink==21.0.0; python_full_version >= "3.6.7" and python_version >= "3.7"
idna==3.2; python_full_version >= "3.6.7" and python_version >= "3.6" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7")
incremental==21.3.0; python_full_version >= "3.6.7" and python_version >= "3.6"
psycopg2==2.9.1; python_version >= "3.6"
pyasn1-modules==0.2.8; python_full_version >= "3.6.7" and python_version >= "3.6"
pyasn1==0.4.8; python_full_version >= "3.6.7" and python_version >= "3.6"
pycparser==2.20; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
pyopenssl==21.0.0; python_full_version >= "3.6.7" and python_version >= "3.6"
pytz==2021.1; python_version >= "3.6"
service-identity==21.1.0; python_full_version >= "3.6.7" and python_version >= "3.6"
six==1.16.0; python_full_version >= "3.6.7" and python_version >= "3.6"
sqlparse==0.4.2; python_version >= "3.6"
twisted-iocpsupport==1.0.2; python_full_version >= "3.6.7" and python_version >= "3.6" and platform_system == "Windows"
twisted==21.7.0; python_full_version >= "3.6.7" and python_version >= "3.6"
txaio==21.2.1; python_version >= "3.7"
typing-extensions==3.10.0.2; python_full_version >= "3.6.7" and python_version >= "3.6"
waitress==2.0.0; python_full_version >= "3.6.0"
whitenoise==5.3.0; python_version >= "3.5" and python_version < "4"
zope.interface==5.4.0; python_full_version >= "3.6.7" and python_version >= "3.6"
