{% load classes %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div class="govuk-form-group{% if field.errors %} govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="{{ field.id_for_label }}">
            {{ field.label }} {% if not field.field.required %}<span class="secondary-text">(optional)</span>{% endif %}
        </label>

        {% if field.help_text %}
            <div class="govuk-hint">
                {{ field.help_text }}
            </div>
        {% endif %}

        {% if field.errors %}
            {% add_class field 'govuk-input--error' %}
            {% for error in field.errors %}
                <span class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error: </span>{{ error }}
                </span>
            {% endfor %}
        {% endif %}

        {% if field.field.prefix or field.field.suffix %}
            <div class="govuk-input__wrapper">
                {% if field.field.prefix %}
                    <div class="govuk-input__prefix" aria-hidden="true">{{ field.field.prefix }}</div>
                {% endif %}

                {% include 'main/partials/forms/input.html' %}

                {% if field.field.suffix %}
                    <div class="govuk-input__suffix" aria-hidden="true">{{ field.field.suffix }}</div>
                {% endif %}
            </div>
        {% else %}
            {% include 'main/partials/forms/input.html' %}
        {% endif %}
    </div>
{% endif %}
