{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} - Contractor Approval</title>
    <link rel="shortcut icon" href="{% static 'main/favicon.ico' %}" type="image/x-icon">
    <link href="{% sass_src 'main/css/styles.scss' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    {% include 'main/partials/header.html' with service_name='Contractor Approval' %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
    {% include 'main/partials/footer.html' %}
</body>
</html>
