{% extends 'main/base.html' %}

{% block title %}{{ approval.name }}{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">{{ approval.name }}</h2>

<dl class="govuk-summary-list">
    {% include 'main/partials/summary-row.html' with key='Requestor' value=approval.requestor %}
    {% include 'main/partials/summary-row.html' with key='Status' value=approval.get_status_display %}
    {% include 'main/partials/summary-row.html' with key='Is IR35' value=approval.get_is_ir35_display %}
    {% include 'main/partials/summary-row.html' with key='Chief' value=approval.chief %}

    <!-- Job description -->
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Job description
        </dt>
        <dd class="govuk-summary-list__value">
            {% if approval.is_ir35 %}
                {{ approval.job_description|default:'No job description' }}
            {% else %}
                Not required
            {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if approval.is_ir35 %}
                {% if perms.main.view_jobdescription and approval.job_description %}
                    <a class="govuk-button govuk-button--secondary mb-0" href="#">View</a>
                {% endif %}
                {% if perms.main.change_jobdescription and approval.job_description and approval.can_edit %}
                    <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'job-description-update' approval.job_description.pk %}">Update</a>
                {% elif perms.main.add_jobdescription and not approval.job_description %}
                    <a class="govuk-button govuk-button mb-0" href="{% url 'job-description-create' %}?approval={{ approval.pk }}">Create</a>
                {% endif %}
            {% endif %}
        </dd>
    </div>

    <!-- Statement of work -->
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Statement of work
        </dt>
        <dd class="govuk-summary-list__value">
            {% if not approval.is_ir35 %}
                {{ approval.statement_of_work|default:'No statement of work' }}
            {% else %}
                Not required
            {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if not approval.is_ir35 %}
                {% if perms.main.view_statementofwork and approval.statement_of_work %}
                    <a class="govuk-button govuk-button--secondary mb-0" href="#">View</a>
                {% endif %}
                {% if perms.main.change_statementofwork and approval.statement_of_work and approval.can_edit %}
                    <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'statement-of-work-update' approval.statement_of_work.pk %}">Update</a>
                {% elif perms.main.add_statementofwork and not approval.statement_of_work %}
                    <a class="govuk-button govuk-button mb-0" href="{% url 'statement-of-work-create' %}?approval={{ approval.pk }}">Create</a>
                {% endif %}
            {% endif %}
        </dd>
    </div>

    <!-- Interim request -->
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Interim request
        </dt>
        <dd class="govuk-summary-list__value">
            {{ approval.interim_request|default:'No interim request' }}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if perms.main.view_interimrequest and approval.interim_request %}
                <a class="govuk-button govuk-button--secondary mb-0" href="#">View</a>
            {% endif %}
            {% if perms.main.change_interimrequest and approval.interim_request and approval.can_edit %}
                <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'interim-request-update' approval.interim_request.pk %}">Update</a>
            {% elif perms.main.add_interimrequest and not approval.interim_request %}
                <a class="govuk-button govuk-button mb-0" href="{% url 'interim-request-create' %}?approval={{ approval.pk }}">Create</a>
            {% endif %}
        </dd>
    </div>

    <!-- CEST rationale -->
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            CEST rationale
        </dt>
        <dd class="govuk-summary-list__value">
            {{ approval.cest_rationale|default:'No CEST rationale' }}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if perms.main.view_cestrationale and approval.cest_rationale %}
                <a class="govuk-button govuk-button--secondary mb-0" href="#">View</a>
            {% endif %}
            {% if perms.main.change_cestrationale and approval.cest_rationale and approval.can_edit %}
                <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'cest-rationale-update' approval.cest_rationale.pk %}">Update</a>
            {% elif perms.main.add_cestrationale and not approval.cest_rationale %}
                <a class="govuk-button govuk-button mb-0" href="{% url 'cest-rationale-create' %}?approval={{ approval.pk }}">Create</a>
            {% endif %}
        </dd>
    </div>

    <!-- SDS status determination -->
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            SDS status determination
        </dt>
        <dd class="govuk-summary-list__value">
            {{ approval.sds_status_determination|default:'No SDS status determination' }}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if perms.main.view_sdsstatusdetermination and approval.sds_status_determination %}
                <a class="govuk-button govuk-button--secondary mb-0" href="#">View</a>
            {% endif %}
            {% if perms.main.change_sdsstatusdetermination and approval.sds_status_determination and approval.can_edit %}
                <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'sds-status-determination-update' approval.sds_status_determination.pk %}">Update</a>
            {% elif perms.main.add_sdsstatusdetermination and not approval.sds_status_determination %}
                <a class="govuk-button govuk-button mb-0" href="{% url 'sds-status-determination-create' %}?approval={{ approval.pk }}">Create</a>
            {% endif %}
        </dd>
    </div>
</dl>

{% if perms.main.change_contractorapproval %}
    <form class="inline" action="{% url 'approval-change-status' approval.pk %}" method="post">
        {% csrf_token %}
        {% if approval.can_send_to_chief %}
            <input type="hidden" name="status" value="{{ approval.Status.AWAITING_CHIEF_APPROVAL }}">
            <button class="govuk-button">Send to Chief</button>
        {% endif %}
        {% if approval.can_mark_as_draft %}
            <input type="hidden" name="status" value="{{ approval.Status.DRAFT }}">
            <button class="govuk-button govuk-button--secondary">Mark as draft</button>
        {% endif %}
    </form>
    {% if approval.can_edit %}
        <a class="govuk-button govuk-button--secondary" href="{% url 'approval-update' approval.pk %}">Update</a>
    {% endif %}
{% endif %}

{% if perms.main.delete_contractorapproval %}
    <form class="inline" action="{% url 'approval-delete' approval.pk %}" method="post">
        {% csrf_token %}
        <button class="govuk-button govuk-button--warning">Delete</button>
    </form>
{% endif %}

<h1 class="govuk-heading-l">Approvals</h1>

{% if approval.can_approve %}
    <dl class="govuk-summary-list">
        <!-- Approvals -->
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Chief approval
            </dt>
            <dd class="govuk-summary-list__value">
                {% if approval.chief_approval is not None %}
                    {{ approval.get_chief_approval_display }} - {{ approval.chief_approval_who }} - {{ approval.chief_approval_when }}
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if perms.main.can_give_chief_approval and user == approval.chief %}
                    <a class="govuk-button mb-0" href="{% url 'approval-approve' approval.pk %}?which_approval=chief">Approve</a>
                    <a class="govuk-button govuk-button--warning mb-0" href="{% url 'approval-reject' approval.pk %}?which_approval=chief">Reject</a>
                {% endif %}
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                HRBP approval
            </dt>
            <dd class="govuk-summary-list__value">
                {% if approval.hrbp_approval is not None %}
                    {{ approval.get_hrbp_approval_display }} - {{ approval.hrbp_approval_who }} - {{ approval.hrbp_approval_when }}
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if perms.main.can_give_hrbp_approval %}
                    <a class="govuk-button mb-0" href="{% url 'approval-approve' approval.pk %}?which_approval=hrbp">Approve</a>
                    <a class="govuk-button govuk-button--warning mb-0" href="{% url 'approval-reject' approval.pk %}?which_approval=hrbp">Reject</a>
                {% endif %}
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Finance approval
            </dt>
            <dd class="govuk-summary-list__value">
                {% if approval.finance_approval is not None %}
                    {{ approval.get_finance_approval_display }} - {{ approval.finance_approval_who }} - {{ approval.finance_approval_when }}
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if perms.main.can_give_finance_approval %}
                    <a class="govuk-button mb-0" href="{% url 'approval-approve' approval.pk %}?which_approval=finance">Approve</a>
                    <a class="govuk-button govuk-button--warning mb-0" href="{% url 'approval-reject' approval.pk %}?which_approval=finance">Reject</a>
                {% endif %}
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                Commercial approval
            </dt>
            <dd class="govuk-summary-list__value">
                {% if approval.commercial_approval is not None %}
                    {{ approval.get_commercial_approval_display }} - {{ approval.commercial_approval_who }} - {{ approval.commercial_approval_when }}
                {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
                {% if perms.main.can_give_commercial_approval %}
                    <a class="govuk-button mb-0" href="{% url 'approval-approve' approval.pk %}?which_approval=commercial">Approve</a>
                    <a class="govuk-button govuk-button--warning mb-0" href="{% url 'approval-reject' approval.pk %}?which_approval=commercial">Reject</a>
                {% endif %}
            </dd>
        </div>
    </dl>
{% elif approval.approved %}
    <p class="govuk-body">Document has been approved.</p>
{% else %}
    <p class="govuk-body">Document is not ready for approvals.</p>
{% endif %}

<h1 class="govuk-heading-l">Comments</h1>

{% if perms.main.view_comment %}
    {% for comment in approval.comments.all %}
    <div>
        <span class="govuk-body govuk-!-font-weight-bold">{{ comment.user }}</span><span class="govuk-body-s secondary-text ml-1">{{ comment.timestamp }}</span>
        <p class="govuk-body">
            {{ comment.text }}
        </p>
    </div>
    {% endfor %}
{% endif %}

{% if perms.main.add_comment %}
    <form action="{% url 'approval-add-comment' approval.pk %}" method="post">
        {% csrf_token %}
        {% include 'main/partials/forms/form.html' with form=comment_form %}
        <button class="govuk-button">Add comment</button>
    </form>
{% endif %}
{% endblock %}
