{% extends 'main/base.html' %}

{% block title %}Approvals{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Approvals</h1>

{% if perms.main.add_resourcingapproval %}
    <a class="govuk-button" href="{% url 'approval-create' %}">Create approval</a>
{% endif %}

{% for approval in approvals %}
    <div>
        <h2 class="govuk-heading-m">{{ approval.name }}</h2>
        <p class="govuk-body">{{ approval.get_status_display }}</p>
        <a class="govuk-button govuk-button--secondary" href="{{ approval.get_absolute_url }}">View approval</a>
    </div>
{% endfor %}
{% endblock %}
