{% extends 'main/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">Contractor approvals dashboard</h1>

{% if perms.main.add_resourcingrequest %}
    <a class="govuk-button" href="{% url 'resourcing-request-create' %}">Create contractor request</a>
{% endif %}

{% if your_resourcing_requests %}
    <h1 class="govuk-heading-m">Your contractor requests</h1>

    {% include 'main/partials/resourcing_request_table.html' with resourcing_requests=your_resourcing_requests %}
{% endif %}

{% if amended_resourcing_requests %}
    <h1 class="govuk-heading-m">Amended and ready for review</h1>

    {% include 'main/partials/resourcing_request_table.html' with resourcing_requests=amended_resourcing_requests show_requestor=True %}
{% endif %}

{% if awaiting_your_approval %}
    <h1 class="govuk-heading-m">Awaiting your approval</h1>

    {% include 'main/partials/resourcing_request_table.html' with resourcing_requests=awaiting_your_approval show_requestor=True %}
{% endif %}

{% if approved_by_you %}
    <h1 class="govuk-heading-m">Approved by you</h1>

    {% include 'main/partials/resourcing_request_table.html' with resourcing_requests=approved_by_you show_requestor=True %}
{% endif %}

{% endblock %}
