{% extends 'main/base.html' %}

{% load summary %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">{{ object }}</h1>

<a class="govuk-button govuk-button--secondary" href="{% url 'resourcing-request-summary-view' resourcing_request_pk=object.pk %}">View summary</a>

<dl class="govuk-summary-list">
    {% field_summary object 'type' %}
    {% field_summary object 'job_title' %}
    {% field_summary object 'project_name' %}
    {% field_summary object 'portfolio' %}
    {% field_summary object 'start_date' %}
    {% field_summary object 'profession' %}
    {% field_summary object 'end_date' %}
    {% field_summary object 'is_ir35' %}
    {% field_summary object 'chief' %}
    {% field_summary object 'requestor' %}
    {% field_summary object 'state' %}
</dl>

<h2 class="govuk-heading-m">Supporting information</h2>

<dl class="govuk-summary-list">
    <!-- Financial information -->
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Financial information
        </dt>
        <dd class="govuk-summary-list__value">
            {{ object.financial_information|default:'No financial information' }}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if perms.main.view_financialinformation and object.financial_information %}
                <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'financial-information-detail' resourcing_request_pk=object.pk supporting_document_pk=object.financial_information.pk %}">View</a>
            {% endif %}
            {% if perms.main.change_financialinformation and object.financial_information and object.can_update %}
                <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'financial-information-update' resourcing_request_pk=object.pk supporting_document_pk=object.financial_information.pk %}">Update</a>
            {% elif perms.main.add_financialinformation and not object.financial_information %}
                <a class="govuk-button govuk-button mb-0" href="{% url 'financial-information-create' resourcing_request_pk=object.pk %}">Create</a>
            {% endif %}
        </dd>
    </div>

    <!-- Job description -->
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Job description
        </dt>
        <dd class="govuk-summary-list__value">
            {% if object.is_ir35 %}
                {{ object.job_description|default:'No job description' }}
            {% else %}
                Not required if the role is outside IR35
            {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if object.is_ir35 %}
                {% if perms.main.view_jobdescription and object.job_description %}
                    <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'job-description-detail' resourcing_request_pk=object.pk supporting_document_pk=object.job_description.pk %}">View</a>
                {% endif %}
                {% if perms.main.change_jobdescription and object.job_description and object.can_update %}
                    <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'job-description-update' resourcing_request_pk=object.pk supporting_document_pk=object.job_description.pk %}">Update</a>
                {% elif perms.main.add_jobdescription and not object.job_description %}
                    <a class="govuk-button govuk-button mb-0" href="{% url 'job-description-create' resourcing_request_pk=object.pk %}">Create</a>
                {% endif %}
            {% endif %}
        </dd>
    </div>

    <!-- Statement of work -->
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Statement of work
        </dt>
        <dd class="govuk-summary-list__value">
            {% if not object.is_ir35 %}
                {{ object.statement_of_work|default:'No statement of work' }}
            {% else %}
                Not required if the role is inside IR35
            {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if not object.is_ir35 %}
                {% if perms.main.view_statementofwork and object.statement_of_work %}
                    <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'statement-of-work-detail' resourcing_request_pk=object.pk statement_of_work_pk=object.statement_of_work.pk %}">View</a>
                {% endif %}
                {% if perms.main.change_statementofwork and object.statement_of_work and object.can_update %}
                    <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'statement-of-work-update' resourcing_request_pk=object.pk statement_of_work_pk=object.statement_of_work.pk %}">Update</a>
                {% elif perms.main.add_statementofwork and not object.statement_of_work %}
                    <a class="govuk-button govuk-button mb-0" href="{% url 'statement-of-work-create' resourcing_request_pk=object.pk %}">Create</a>
                {% endif %}
            {% endif %}
        </dd>
    </div>

    <!-- Interim request -->
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Interim request
        </dt>
        <dd class="govuk-summary-list__value">
            {{ object.interim_request|default:'No interim request' }}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if perms.main.view_interimrequest and object.interim_request %}
                <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'interim-request-detail' resourcing_request_pk=object.pk supporting_document_pk=object.interim_request.pk %}">View</a>
            {% endif %}
            {% if perms.main.change_interimrequest and object.interim_request and object.can_update %}
                <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'interim-request-update' resourcing_request_pk=object.pk supporting_document_pk=object.interim_request.pk %}">Update</a>
            {% elif perms.main.add_interimrequest and not object.interim_request %}
                <a class="govuk-button govuk-button mb-0" href="{% url 'interim-request-create' resourcing_request_pk=object.pk %}">Create</a>
            {% endif %}
        </dd>
    </div>

    <!-- CEST document -->
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            CEST document
        </dt>
        <dd class="govuk-summary-list__value">
            {{ object.cest_document|default:'No CEST document' }}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if perms.main.view_cestdocument and object.cest_document %}
                <a class="govuk-button govuk-button--secondary mb-0" href="{{ object.cest_document.file.url }}">View</a>
            {% endif %}
            {% if perms.main.change_cestdocument and object.cest_document and object.can_update %}
                <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'cest-document-update' resourcing_request_pk=object.pk supporting_document_pk=object.cest_document.pk %}">Update</a>
            {% elif perms.main.add_cestdocument and not object.cest_document %}
                <a class="govuk-button govuk-button mb-0" href="{% url 'cest-document-create' resourcing_request_pk=object.pk %}">Create</a>
            {% endif %}
        </dd>
    </div>

    <!-- Status determination statement -->
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            Status determination statement
        </dt>
        <dd class="govuk-summary-list__value">
            {{ object.sds_status_determination|default:'None - must be completed after hiring staff' }}
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if perms.main.view_sdsstatusdetermination and object.sds_status_determination %}
                <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'sds-status-determination-detail' resourcing_request_pk=object.pk supporting_document_pk=object.sds_status_determination.pk %}">View</a>
            {% endif %}
            {% if perms.main.change_sdsstatusdetermination and object.sds_status_determination and object.can_update %}
                <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'sds-status-determination-update' resourcing_request_pk=object.pk supporting_document_pk=object.sds_status_determination.pk %}">Update</a>
            {% elif perms.main.add_sdsstatusdetermination and not object.sds_status_determination %}
                <a class="govuk-button govuk-button mb-0" href="{% url 'sds-status-determination-create' resourcing_request_pk=object.pk %}">Create</a>
            {% endif %}
        </dd>
    </div>
</dl>

<!-- Actions -->
{% if perms.main.change_resourcingrequest %}
    {% if object.can_send_for_approval %}
        <form class="inline" action="{% url 'resourcing-request-send-for-approval' resourcing_request_pk=object.pk %}" method="post">
            {% csrf_token %}
            <button class="govuk-button">Send for approval</button>
        </form>
    {% endif %}

    {% if object.can_amend %}
        <form class="inline" action="{% url 'resourcing-request-amend' resourcing_request_pk=object.pk %}" method="post">
            {% csrf_token %}
            <button class="govuk-button govuk-button--secondary">Amend</button>
        </form>
    {% endif %}

    {% if object.can_send_for_review %}
        <form class="inline" action="{% url 'resourcing-request-send-for-review' resourcing_request_pk=object.pk %}" method="post">
            {% csrf_token %}
            <button class="govuk-button">Send for review</button>
        </form>
    {% endif %}

    {% if object.can_update %}
        <a class="govuk-button govuk-button--secondary" href="{% url 'resourcing-request-update' resourcing_request_pk=object.pk %}">Update</a>
    {% endif %}

    {% if object.can_mark_as_complete %}
        <form class="inline" action="{% url 'resourcing-request-mark-as-complete' resourcing_request_pk=object.pk %}" method="post">
            {% csrf_token %}
            <button class="govuk-button">Mark as complete</button>
        </form>
    {% endif %}
{% endif %}

{% if perms.main.can_give_busops_approval and object.can_finish_amendments_review %}
    <form class="inline" action="{% url 'resourcing-request-finish-amendments-review' resourcing_request_pk=object.pk %}" method="post">
        {% csrf_token %}
        <button class="govuk-button">Finish amendments review</button>
    </form>
{% endif %}

{% if perms.main.delete_resourcingrequest %}
    <form
        class="inline"
        action="{% url 'resourcing-request-delete' resourcing_request_pk=object.pk %}"
        method="post"
        data-confirm="Are you sure you want to delete this resourcing request?"
    >
        {% csrf_token %}
        <button class="govuk-button govuk-button--warning">Delete</button>
    </form>
{% endif %}

<!-- Approvals -->
<h1 class="govuk-heading-l">Approvals</h1>

{% if object.is_draft %}
    <p class="govuk-body">Not ready for approval.</p>
{% else %}
    {% include 'main/partials/approvals.html' with form=approval_form resourcing_request=object can_user_approve=can_user_approve %}
{% endif %}

<!-- Comments -->
{% if perms.main.view_comment %}
    <div>
        <h1 class="govuk-heading-l">Comments</h1>
        <div>
            {% for comment in object.comments.all %}
                <div>
                    <span class="govuk-body govuk-!-font-weight-bold">{{ comment.user }}</span>
                    <span class="govuk-body-s secondary-text ml-1">{{ comment.timestamp }}</span>
                    <p class="govuk-body">{{ comment.text }}</p>
                </div>
            {% empty %}
                <p class="govuk-body">There are currently no comments.</p>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if perms.main.add_comment %}
    <form action="{% url 'resourcing-request-add-comment' object.pk %}" method="post">
        {% csrf_token %}
        {% include 'main/partials/forms/form.html' with form=comment_form %}
        <button class="govuk-button">Add comment</button>
    </form>
{% endif %}

<!-- Event log -->
<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Contractor request history
        </span>
    </summary>
    <div class="govuk-details__text">
        {% include 'event_log/event_log.html' with event_log=object.event_log.all %}
    </div>
</details>

<script>
function handleFormConfirmSubmit(event) {
    event.preventDefault();

    form = event.target;

    if (confirm(form.dataset.confirm)) {
        form.submit();
    } else {
        return;
    }
}

document.querySelectorAll("form[data-confirm]").forEach(function (form) {
    form.addEventListener('submit', handleFormConfirmSubmit);
})
</script>
{% endblock %}
