{% extends 'main/detail.html' %}
{% block children %}
<h2>Modules</h2>
           {% for module in my_modules %}
               {% include 'main/partials/summary-row.html' with key='Title' value=module.module_title %}
               {% include 'main/partials/summary-row.html' with key='Completion date' value=module.completion_date %}
                <h3>Deliverables for {{ module.module_title }} </h3>
                {% for deliverable in module.get_deliverables %}
                    {% include 'main/partials/summary-row.html' with key='Title' value=deliverable.deliverable_title %}

               {% endfor %}
               {% empty %}
                    <h3>Deliverables for {{ module.module_title }} </h3>
                {% endfor %}
           {% endfor %}
{% endblock children %}

