{% extends 'main/supporting_document_detail.html' %}

{% load change_log %}

{% block children %}
<h2 class="govuk-heading-m">Modules</h2>

    <div>
        {% for module in my_modules %}
            <div>
                {% include 'main/partials/supporting_document_view.html' with object=module object_changes=module|get_changes %}

                <h3 class="govuk-heading-s">Deliverables</h3>

                {% for deliverable in module.get_deliverables %}
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                {{ deliverable.deliverable_title }}
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            {% include 'main/partials/supporting_document_view.html' with object=deliverable object_changes=deliverable|get_changes %}

                            {% if perms.main.change_statementofwork %}
                                <a class="govuk-button govuk-button--secondary mb-0" href="{% url 'statement-of-work-module-deliverable-update' resourcing_request_pk=object.resourcing_request.pk statement_of_work_pk=object.pk module_pk=module.pk deliverable_pk=deliverable.pk %}">Edit deliverable</a>
                            {% endif %}
                            {% if perms.main.delete_statementofwork %}
                                <a class="govuk-button govuk-button--warning mb-0" href="{% url 'statement-of-work-module-deliverable-delete' resourcing_request_pk=object.resourcing_request.pk statement_of_work_pk=object.pk module_pk=module.pk deliverable_pk=deliverable.pk %}">Delete deliverable</a>
                            {% endif %}
                        </div>
                    </details>
                {% endfor %}

                {% if perms.main.add_statementofwork %}
                    <a class="govuk-button" href="{% url 'statement-of-work-module-deliverable-create' resourcing_request_pk=object.resourcing_request.pk statement_of_work_pk=object.pk module_pk=module.pk %}">Add deliverable</a>
                {% endif %}
                {% if perms.main.change_statementofwork %}
                    <a class="govuk-button govuk-button--secondary" href="{% url 'statement-of-work-module-update' resourcing_request_pk=object.resourcing_request.pk statement_of_work_pk=object.pk module_pk=module.pk %}">Edit module</a>
                {% endif %}
                {% if perms.main.delete_statementofwork %}
                    <a class="govuk-button govuk-button--warning" href="{% url 'statement-of-work-module-delete' resourcing_request_pk=object.resourcing_request.pk statement_of_work_pk=object.pk module_pk=module.pk %}">Delete module</a>
                {% endif %}
            </div>
        {% endfor %}

        {% if perms.main.add_statementofwork %}
            <a class="govuk-button" href="{% url 'statement-of-work-module-create' resourcing_request_pk=object.resourcing_request.pk statement_of_work_pk=object.pk %}">Add module</a>
        {% endif %}
    </div>
{% endblock %}
