@import "./node_modules/govuk-frontend/govuk/all";

.govuk-header__logo {
  width: 100% !important;
}

.secondary-text {
  color: $govuk-secondary-text-colour;
}

.inline {
  display: inline;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-1 {
  margin-left: 1rem;
}
