$govuk-assets-path: "/static/main/govuk/assets/";

@import "./node_modules/govuk-frontend/govuk/all";

html,
body,
main {
  margin: 0;
  padding: 0;
}

// Quill overrides
.ql-container .ql-editor,
.ql-container.ql-snow .ql-editor {
  p {
    @extend .govuk-body;
  }

  h1 {
    @extend .govuk-heading-l;
  }

  h2 {
    @extend .govuk-heading-m;
  }

  h3 {
    @extend .govuk-heading-s;
  }

  ul {
    @extend .govuk-list;
    @extend .govuk-list--bullet;
  }

  ol {
    @extend .govuk-list;
    @extend .govuk-list--number;
  }

  a {
    @extend .govuk-link;
  }
}

.ql-container.ql-disabled .ql-editor {
  padding: 0;
}

// GDS overrides
.govuk-header__logo {
  width: 100% !important;
}

.govuk-button--secondary {
  background-color: hsl(30, 7.7%, 92%);
}

// Utilities
.secondary-text {
  color: $govuk-secondary-text-colour;
}

.text-red {
  color: govuk-colour("red");
}

.inline {
  display: inline;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.tooltip {
  cursor: help;
}

// Components
.messages-list {
  margin-top: 20px;
  font-weight: bold;

  li {
    padding-left: 15px;
  }

  .success {
    border-left: 5px solid green;
  }

  .warning {
    border-left: 5px solid orange;
  }

  .error {
    border-left: 5px solid #d4351c;
  }
}
