$govuk-assets-path: "/static/main/govuk/assets/";

@import "./node_modules/govuk-frontend/govuk/all";

html,
body,
main {
  margin: 0;
  padding: 0;
}

.govuk-header__logo {
  width: 100% !important;
}

.secondary-text {
  color: $govuk-secondary-text-colour;
}

.text-red {
  color: govuk-colour("red");
}

.inline {
  display: inline;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.tooltip {
  cursor: help;
}

.messages-list {
  margin-top: 20px;
  font-weight: bold;

  li {
    padding-left: 15px;
  }

  .success {
    border-left: 5px solid green;
  }

  .warning {
    border-left: 5px solid orange;
  }

  .error {
    border-left: 5px solid #d4351c;
  }
}
